{% load static %}
<article class="post featured">
  <header class="major">
    <span class="date">THENK YOU SO MUCH</span>
    <h2>
      <a href="#"
        >LEO 
        <br>
        FOR YOUR GROW
        </a
      >
    </h2>
    <p>
      “I’ve missed more than 9000 shots in my career. I’ve lost almost 300 games. 26 times I’ve been trusted to take the game-winning shot and missed. I’ve failed over and over and over again in my life. And that is why I succeed.” —Michael Jordan
    </p>
  </header>
  <a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
  <ul class="actions special">
    <li><a href="{% url "allArticle" %}" class="button large">BACK TO LEO BLOG</a></li>
  </ul>
</article>
