{% extends "base.html"%} {% load static %}
<!-- ______________________________________________________________________________ -->
{% block title %}All Leo blog {%endblock %}
<!-- ______________________________________________________________________________ -->

{% block Intro %}
<div>{% include "./includes/intro.html" %}</div>
{% endblock %}

<!-- ______________________________________________________________________________ -->
{% block content %}
<!-- Intro -->
<div>{% include "./includes/form.html" %}</div>

<!-- ______________________________________________________________________________ -->
{% endblock %}
