{% extends "base.html"%} {% load static %}
<!-- ______________________________________________________________________________ -->
{% block title %}All Leo blog {%endblock %}
<!-- ______________________________________________________________________________ -->

{% block content %}
<div>{% include "./includes/mine.html" %}</div>
{% endblock %}

<!-- ______________________________________________________________________________ -->

<!-- Intro -->

<!-- ______________________________________________________________________________ -->
